mat-card {
  margin-top: 50px;
  text-align: right;
}

.micdma, .freelance {
  height: 600px;
}

.micdma {
  background-image: url("../../assets/images/SeniorProjectSplashPage.png");
  background-size: cover;
  background-position: center center;
  transition: all .5s;
}

  .micdma:hover {
    transform: scale(1.02);
    transition: all .5s;
  }

.pointcheck {
  color: #fff;
  background-image: url("../../assets/images/Pointcheck.png");
  background-size: cover;
  background-position: 50% 20%;
  transition: all .5s;
  height: 500px;
}

.pointcheck:hover {
  transform: scale(1.02);
  transition: all .5s;
}

.freelance {
  background-image: url("../../assets/images/anchorbar.png");
  background-size: cover;
  background-position: left center;
  transition: all .5s;
}

.freelance:hover {
  transform: scale(1.02);
  transition: all .5s;
}

.projects {
  margin-bottom: 50px;
}

.micdma-card {
  background-image: url("../../assets/images/hero-image.jpg");
  background-size: cover;
}
