.body{
  box-shadow: none;
}

.home-content {
  height: 80vh;
  text-align: center;
  color: #fff;
  background-image: url("../../assets/images/SeniorProjectSplashPage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.title{
  font-size: 22px;
  text-transform: uppercase;
}

.mat-chip {
  background-color: #70C82F;
  color: #fff;
}

.second {
  background-color: #0BA0C2;
}

.third {
  background-color: #FF7533;
}

.fourth {
  background-color: #6F8594;
}
