.body {
  box-shadow: none;
}

.home-content {
  height: 80vh;
  text-align: center;
  color: #fff;
  background-image: url("../../assets/images/Pointcheck.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  font-size: 22px;
  text-transform: uppercase;
}

.mat-chip {
  background-color: #16b086;
  color: #fff;
}

.second {
  background-color: rgb(17,17,17);
}

.third {
  background-color: #FFF;
  color: rgb(17,17,17);
  border: 2px solid rgb(17,17,17);  
}
