.home-content {
  height: 80vh;
  text-align: center;
  color: #fff;
}

.home-content > .info{
  padding-top: 150px;
  font-size: 42px;
}

.icons{
  padding-top: 10px;
  width: 100%;
  height: auto;
}

.icons > a > svg{
  height: auto;
  width: 50px;
  padding: 0 10px;
}

  .icons > a > svg:hover {
    opacity: .8;
  }
