.page-header {
  background: #000;
  height: 10vh;
  width: 100%;
  margin: auto;
}

  .page-header p {
    color: #fff;
  }

.content {
  display: inline-block;
  margin: auto;
}

ul{
  list-style-type: none;
}

ul li {
  display: inline;
  margin-right: 20px;
}

.mat-menu-item {
  color: #000;
  font-weight: 500;
}

.ng-fa-icon {
  padding-left: 10px;
}
