.page-header {
  background: #5CDB95;
  padding: 30px;
  height: 10vh;
  width: 80%;
  margin: auto;
}

.page-header p {
    color: #05386B;
  }

.right-content, .left-content{
  display: inline-block;
}

.left-content{
  width: 10%;
}

.right-content{
  width: 90%;
  float: right;
}

ul{
  list-style-type: none;
  float: right
}

ul li {
  display: inline;
  margin-right: 50px;
}
