<mat-toolbar class="page-header">
  <div class="left-content">
    <p>Keith Brosch</p>
  </div>
  <div class="right-content">
    <ul>
      <li>
        <button routerLink="" mat-button>About</button>
      </li>
      <li>
        <button routerLink="/resume" mat-button>Resume</button>
      </li>
      <li>
        <button  routerLink="/projects" mat-button>Projects</button>
      </li>
      <li>
        <button routerLink="/contact" mat-button>Contact</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
